.body > {
    h1 { margin-top: 5rem; }

    h2 { margin-top: 4rem; }

    h3 { margin-top: 2rem; }
}

.diff {
    font-size: 0.7rem;
}
.diff-up:before {
    content: "↑";
    font-size: 1rem;
    margin-left: .1rem;
    font-style: normal;
    float:right;
}

.diff-down:before {
    content: "↓";
    font-size: 1rem;
    margin-left: .1rem;
    font-style: normal;
    float:right;
}

.card {
    margin-bottom: 3rem;
    box-shadow: $box-shadow;
}

.card .figure {
    text-align: center;
}

.card .figure .figure-caption {
    text-align: left;
    padding: 1rem;
}
.card .table caption {
    padding: 1rem;
}

.card-footer {
   color: $text_lighter;
}

.navbar.navbar-light {
    background-color: $bg_light;
}

.highlight {
   color: $primary;
}

.td-number {
    text-align: right;
}

// switch figures

.choice .choice-switch {
    display: block;
    text-align: right;
    .btn {
    }
}

// sticky table headers
.thead-sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 1px;
}

// Fix for google chrome

.thead-sticky th {
    @extend .thead-sticky;
}

.thead-dark th {
    @extend .thead-dark;
}





