.body > {
    h1 { margin-top: 5rem; }

    h2 { margin-top: 4rem; }

    h3 { margin-top: 2rem; }
}

.up, .down {
    font-size: 0.7rem;
}
.up:after {
    content: "↑";
    font-size: 1rem;
    margin-left: .1rem;
    font-style: normal;
}

.down:after {
    content: "↓";
    font-size: 1rem;
    margin-left: .1rem;
    font-style: normal;
}

.card {
    margin-bottom: 3rem;
    box-shadow: $box-shadow;
}

.card .figure-caption {
    padding: 3rem;
}

.card .table caption {
    padding: 1rem;
}

.card-footer {
   color: $text_lighter;
}

.navbar.navbar-light {
    background-color: $bg_light;
}

.highlight {
   color: $primary;
}


