<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta keywords="Covid 19,Coronavirus,Kreis Höxter,Bad Driburg,Beverungen,Borgentreich,Brakel,Höxter,Marienmünster,Nieheim,Steinheim,Warburg,Willebadessen">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="icon" href="/assets/coronavirus-32.png" type="image/x-png">
    {% seo title=false %}
</head>