<div class="card" id="numbers">
    <h2 class="card-header">Wie sehen die Zahlen aus?</h2>
        <table class="table table-bordered table-hover table-sm">
            <caption class="">
                <strong>Bestätigte Fälle in {{ page.title }}</strong>
                {% include table-legend.html %}
            </caption>
            <thead class="thead-dark thead-sticky">
                <tr>
                    <th>Datum</th>
                    <th class="text-right">infektiös</th>
                    <th class="text-right">genesen</th>
                    <th class="text-right">verstorben</th>
                    <th class="text-right">alle</th>
                    <th class="text-right">Inzidenz</th>
                </tr>
            </thead>
            <tbody>
            {% assign id = 'commune-' | append: page.ident %}
            {% assign table = site.data[id] %}

            {% for day in table offset:10 %}
            {% assign weekday  = day.date | date: '%w' %}
            {% if weekday == '0' or weekday == '6' %}
                {% assign cls = "table-primary" %}
                {% assign cls1 = "table-primary" %}
            {% else %}
                {% assign cls = "table-secondary" %}
                {% assign cls1 = "" %}
            {% endif %}
            <tr>
                <td class="{{ cls }}">{{day.date | date: '%d. %B' }}</td>
                <td class="{{ cls1 }} td-number">{{day.ill}}</td>
                <td class="{{ cls1 }} td-number">{{day.recovered}}</td>
                <td class="{{ cls1 }} td-number">{{day.dead}}</td>
                <td class="table-primary td-number">{{day.confirmed}}</td>
                <td class="table-secondary td-number">{{day.last_weeks_incidence | round:1 }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% assign title = 'Tabelle Bestätigte Fälle von Covid-19 in ' | append: page.title  %}
    {% include cc.html title = title %}
</div>
