<div class="card">
    <h2 class="card-header" id="numbers">Wie sehen die Zahlen aus?</h2>
    <table class="table table-bordered table-hover table-sm">
        <caption> Bestätigte Fälle im Kreis Höxter </caption>
        <thead>
        <tr>
            <th class="table-dark">Datum</th>
            <th class="table-dark">infektiös</th>
            <th class="table-dark">genesen</th>
            <th class="table-dark">verstorben</th>
            <th class="table-dark">alle</th>
        </tr>
        </thead>
        <tbody>
        {% for day in site.data.district-hoexter %}
        {% if day.date contains 'Sat' or day.date contains 'Sun' %}
        {% assign cls = "table-primary" %}
        {% else %}
        {% assign cls = "table-secondary" %}
        {% endif %}
        <tr>
            <td class="{{ cls }}">{{ day.date | date: '%d. %B' }}</td>
            <td>{{day.ill}}</td>
            <td>{{day.recovered}}</td>
            <td>{{day.dead}}</td>
            <td class="table-secondary">{{day.confirmed}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include cc.html title = 'Tabelle Bestätigte Fälle von Covid-19 im Kreis Höxter' %}
</div>
