<div class="card">
    <h2 class="card-header" id="numbers">Wie sehen die Zahlen aus?</h2>
    <table class="table table-bordered table-hover table-sm">
        <caption class="">
            <strong>Bestätigte Fälle im Kreis Höxter</strong>
            {% include table-legend.html %}
        </caption>
        <thead class="thead-dark thead-sticky">
        <tr>
            <th class="">Datum</th>
            <th class="">infektiös</th>
            <th class="">genesen</th>
            <th class="">verstorben</th>
            <th class="">alle</th>
            <th class="text-right">Inzidenz</th>
        </tr>
        </thead>
        <tbody>
        {% for day in site.data.district-hoexter %}
        {% assign weekday  = day.date | date: '%w' %}
        {% if weekday == '0' or weekday == '6' %}
        {% assign cls = "table-primary" %}
        {% assign cls1 = "table-primary" %}
        {% else %}
        {% assign cls = "table-secondary" %}
        {% assign cls1 = "" %}
        {% endif %}
        <tr>
            <td class="{{ cls }}">{{ day.date | date: '%d. %B' }}</td>
            <td class="{{ cls1 }} td-number">{{day.ill}}</td>
            <td class="{{ cls1 }} td-number">{{day.recovered}}</td>
            <td class="{{ cls1 }} td-number">{{day.dead}}</td>
            <td class="table-primary td-number">{{day.confirmed}}</td>
            <td class="table-secondary td-number">{{day.last_weeks_incidence | round:1 }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </thead>
    </table>
    {% include cc.html title = 'Tabelle Bestätigte Fälle von Covid-19 im Kreis Höxter' %}
</div>
