<div class="card" id="today">
    {% assign current = site.data.district-hoexter[-1] %}
    {% assign previous = site.data.district-hoexter[-2] %}
    <table class="table table-bordered">
        <caption class="">Bestätigte Fälle im Kreis Höxter am {{ current.date | full_german_date }}</caption>
        <thead class="thead-dark">
        <tr>
            <th class="">infektiös</th>
            <th class="">genesen</th>
            <th class="">verstorben</th>
            <th class="">alle</th>
            <th class="" colspan="2">Inzidenz</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="width:20%" class="td-number table-secondary">{{ current.ill }}</td>
            <td style="width:20%" class="td-number table-secondary">{{ current.recovered }}</td>
            <td style="width:20%" class="td-number table-secondary">{{ current.dead }}</td>
            <td style="width:20%" class="td-number table-primary"><strong>{{ current.confirmed }}</strong></td>
            {% include wocheninzidenz.html %}
        </tr>
        </tbody>
    </table>
    <div class="card-footer"><a href="{{ '/kreis-hoexter' | relative_url }}#today">mehr Zahlen ...</a></div>
</div>
