<div class="card" id="today">
    {% assign current = site.data.district-hoexter.last %}
    <table class="table table-bordered">
        <caption class="">Bestätigte Fälle im Kreis Höxter am {{ current.date | full_german_date }}</caption>
        <thead class="thead-dark">
        <tr>
            <th class="">infektiös</th>
            <th class="">genesen</th>
            <th class="">verstorben</th>
            <th class="">alle</th>
            <th class="">Inzidenz</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="table-secondary">{{ current.ill }}</td>
            <td class="table-secondary">{{ current.recovered }}</td>
            <td class="table-secondary">{{ current.dead }}</td>
            <td class="table-primary"><strong>{{ current.confirmed }}</strong></td>
            <td class="table-secondary"><em>
                {% include wocheninzidenz.html %}
            </em></td>
        </tr>
        </tbody>
    </table>
    <div class="card-footer"><a href="{{ '/kreis-hoexter' | relative_url }}#today">mehr Zahlen ...</a></div>
</div>
