<div class="container shadow mb-5 mt-4 p-3">
    {% assign current = site.data.district-hoexter.last %}
    <table class="table table-bordered table-ligth" id="today">
        <caption> Bestätigte Fälle im Kreis Höxter am {{ current.date | date: '%d. %B %Y' }}</caption>
        <thead class="">
        <tr>
            <th class="table-dark">infiziert</th>
            <th class="table-dark">genesen</th>
            <th class="table-dark">verstorben</th>
            <th class="table-dark">alle Fälle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ current.ill }}</td>
            <td>{{ current.recovered }}</td>
            <td>{{ current.dead }}</td>
            <td><strong>{{ current.confirmed }}</strong></td>
        </tr>
        </tbody>
    </table>
    <p><a href="{{ '/kreis-hoexter' | relative_url }}#today">mehr Zahlen ...</a></p>
</div>
