<div class="container shadow mb-5 mt-4 p-3" id="today">
    {% assign id = 'commune-' | append: page.ident %}
    {% assign data = site.data[id] %}
    {% assign current = data[-1] %}
    {% assign previous = data[-2] %}
    <table class="table table-bordered">
        <caption><strong>Bestätigte Fälle in {{ page.title}} am {{ current.date | full_german_date }}.</strong>
        <br/>Pfeile: Änderungen gegenüber dem Vortag.</caption>
        <thead>
        <tr>
            <th class="table-dark">infiziert</th>
            <th class="table-dark">genesen</th>
            <th class="table-dark">verstorben</th>
            <th class="table-dark">alle Fälle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{current.ill}}
                {% assign diff = current.ill | minus: previous.ill %}
                {% include diff.html %}
            </td>
            <td>{{current.recovered}}
                {% assign diff = current.recovered | minus: previous.recovered %}
                {% include diff.html %}
            </td>
            <td>{{current.dead}}
                {% assign diff = current.dead | minus: previous.dead %}
                {% include diff.html %}
            </td>
            <td class="table-secondary">{{current.confirmed}}
                {% assign diff = current.confirmed | minus: previous.confirmed %}
                {% include diff.html %}
            </td>
        </tr>
        </tbody>
    </table>
    <p><a href="#numbers">mehr Zahlen ...</a></p>
</div>
