<div class="shadow mb-5 mt-4 p-3" id="today">
    {% assign date = site.data.district-hoexter.last.date %}
    <table class="table table-bordered table-sm">
        <caption> Bestätigte Fälle im Kreis Höxter am {{ date | date: '%d. %B %Y' }}</caption>
        <thead class="">
        <tr class="">
            <th class="table-dark">Gemeinde</th>
            <th class="table-dark">erkrankt</th>
            <th class="table-dark">wieder gesund</th>
            <th class="table-dark">verstorben</th>
            <th class="table-dark">alle Fälle</th>
        </tr>
        </thead>
        <tbody>
        {% assign sorted = site.data.configuration.names.communes | sort %}
        {% for commune in sorted %}
        {% assign key = commune.first %}
        {% assign name = commune.last %}
        {% assign id = 'commune-' | append: key %}
        {% assign current = site.data[id].last %}
        <tr>
            <th scope="row" class="table-primary">{{name}}</th>
            <td>{{current.ill}}</td>
            <td>{{current.recovered}}</td>
            <td>{{current.dead}}</td>
            <td class="table-secondary">{{current.confirmed}}</td>
        </tr>
        {% endfor %}
        {% assign current = site.data.district-hoexter.last %}
        </tbody>
        <tfoot>
        <tr class="">
            <th scope="row" class="table-secondary">Insgesamt</th>
            <td class="table-secondary">{{current.ill}}</td>
            <td class="table-secondary">{{current.recovered}}</td>
            <td class="table-secondary">{{current.dead}}</td>
            <td class="table-secondary"><strong>{{current.confirmed}}</strong></td>
        </tr>
        </tfoot>
    </table>
    <p><a href="#numbers">mehr Zahlen ...</a></p>
</div>
