<div class="shadow mb-5 mt-4 p-3" id="today">
    {% assign date = site.data.district-hoexter.last.date %}
    <table class="table table-bordered table-sm">
        <caption><strong>Bestätigte Fälle im Kreis Höxter am {{ date | full_german_date }}</strong>
            {% include table-legend.html %}
        </caption>
        <thead class="table-dark">
        <tr class="">
            <th class="">Gemeinde</th>
            <th class="">infektiös</th>
            <th class="">genesen</th>
            <th class="">verstorben</th>
            <th class="">alle <small><nobr>↑ neue</nobr></small></th>
            <th class="">Inzidenz</th>
        </tr>
        </thead>
        <tbody>
        {% assign sorted = site.data.configuration.names.communes | sort %}
        {% for commune in sorted %}
        {% assign key = commune.first %}
        {% assign name = commune.last %}
        {% assign id = 'commune-' | append: key %}
        {% assign current = site.data[id][-1] %}
        {% assign previous = site.data[id][-2] %}
        <tr>
            <th scope="row" class="table-primary">{{name}}</th>
            <td>{{current.ill}}
                {% assign diff = current.ill | minus: previous.ill %}
                {% include diff.html %}
            </td>
            <td>{{current.recovered}}
                {% assign diff = current.recovered | minus: previous.recovered %}
                {% include diff.html %}
            </td>
            <td>{{current.dead}}
                {% assign diff = current.dead | minus: previous.dead %}
                {% include diff.html %}
            </td>
            <td class="table-secondary">{{current.confirmed}}
                {% assign diff = current.confirmed | minus: previous.confirmed %}
                {% include diff.html %}
            </td>
            <td class="table-primary">
                {{ current.last_weeks_incidence | round: 1 }}
                {% assign diff = current.last_weeks_incidence | minus: previous.last_weeks_incidence | round: 1 %}
                {% include diff.html %}
            </td>
        </tr>
        {% endfor %}
        {% assign current = site.data.district-hoexter[-1] %}
        {% assign previous = site.data.district-hoexter[-2] %}
        </tbody>
        <tfoot class="">
        <tr class="">
            <th scope="row" class="table-secondary">Insgesamt</th>
            <td class="table-secondary">{{current.ill}}
                {% assign diff = current.ill | minus: previous.ill %}
                {% include diff.html %}
            </td>
            <td class="table-secondary">{{current.recovered}}
                {% assign diff = current.recovered | minus: previous.recovered %}
                {% include diff.html %}
            </td>
            <td class="table-secondary">{{current.dead}}
                {% assign diff = current.dead | minus: previous.dead %}
                {% include diff.html %}
            </td>
            <td class="table-secondary"><strong>{{current.confirmed}}
                {% assign diff = current.confirmed | minus: previous.confirmed %}
                {% include diff.html %}
            </strong></td>
            <td class="table-secondary">
                {% include wocheninzidenz.html %}
            </td>
        </tr>
        </tfoot>
    </table>
    <p><a href="#numbers">mehr Zahlen ...</a></p>
</div>
