<dl>
    <dt>infektiös</dt>
    <dd>als aktiv infiziert gemeldet
    <dt>genesen</dt>
    <dd>als genesen gemeldet, chronische Schäden möglich</dd>
    <dt>verstorben</dt>
    <dd>an oder mit Covid-19 verstorben</dd>
    <dt>alle</dt>
    <dd>alle bisher gezählten Fälle gleich die Summe von infektiös, genesen und verstorben</dd>
    <dt>neue</dt>
    <dd>Zahl der neuen Fälle des Tages</dd>
    <dt>Inzidenz</dt>
    <dd>7-Tage-Inzidenz bezogen auf 100.000 Einwohner, kurz Wocheninzidenz</dd>
    <dt>Pfeile</dt>
    <dd>Änderungen gegenüber dem Vortag</dd>
</dl>
