---
layout: default
---

{{ content }}

<div class="container shadow mb-5 mt-4 p-3">
  {% assign current = site.data.hoexter[page.ident].last %}
  <table class="table table-bordered table-dark">
    <caption>Bestätigte Fälle in {{ page.title}} am {{ current. date }} um 12 Uhr</caption>
    <thead>
    <tr>
      <th>Krank</th>
      <th>Wieder gesund</th>
      <th>Verstorben</th>
      <th>Summe</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ current.active }}</td>
      <td>{{ current.recovered }}</td>
      <td>{{ current.died }}</td>
      <td><strong>{{ current.cumulated }}</strong></td>
    </tr>
    </tbody>
  </table>
  <p><a href="#numbers">mehr Zahlen ...</a></p>
</div>


<h2>Wie viele Personen sind infiziert, genesen oder verstorben?</h2>

<figure class="figure shadow mb-5 mt-4 p-3">
  <img src="/assets/plots/{{ page.ident }}-stacked.png" class="figure-img img-fluid rounded" alt="Das Diagramm zeigt einen Stackplot.">
  <figcaption class="figure-caption">Aktive, genesene und Todesfälle ergeben zusammen alle bestätigten Infektionen.</figcaption>
</figure>

<h2>Wie hoch ist der Anteil der Infizierten im Vergleich?</h2>

<p>TODO</p>


<h2 id="numbers">Wie sehen die Zahlen aus?</h2>

<div class="shadow mb-5 mt-4 p-3">
  <table class="table table-bordered table-hover table-sm">
    <caption> Bestätigte Fälle in {{ page.title }}</caption>
    <thead class="thead-light">
    <tr>
      <th>Datum</th>
      <th>Aktive</th>
      <th>Genesene</th>
      <th>Verstorbene</th>
      <th>Summe</th>
    </tr>
    </thead>
    <tbody>
    {% for day in site.data.hoexter[page.ident] offset:10 %}
    {% if day.date contains 'Sat' or day.date contains 'Sun' %}
    {% assign cls = "table-primary" %}
    {% else %}
    {% assign cls = "table-secondary" %}
    {% endif %}
    <tr>
      <td class="{{ cls }}">{{day.date}}</td>
      <td>{{day.active}}</td>
      <td>{{day.recovered}}</td>
      <td>{{day.died}}</td>
      <td class="table-secondary">{{day.cumulated}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
