<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">
{% include head.html %}
<body>
{% include header.html %}
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4 page-title">{{ page.title }}</h1>
        </div>
    </div>
    <div class="container">
        {{ content}}
        <div class="alert alert-warning" role="alert">
            <p>
                Die bestätigten Infektionen sind vermutlich nur der kleinere Teil aller Fälle.
                Bildlich gesprochen handelt es sich um die Spitze des Eisberges. Doch kann
                man aus der Spitze Rückschlüsse auf seine Größe ziehen.
            </p>
            <p>
                Es unterliegt noch der Forschung, wie groß der durchschnittliche Dunkelzifferfaktor ist.
                Darum sollten Sie stets beachten, dass die Gefahr sich anzustecken deutlich größer
                sein kann, als es die Anzahl der bestätigten Fälle nahe legt.
            </p>
        </div>
    </div>
</main>
{% include footer.html %}
</body>
{% include footerscripts.html %}
</html>
