<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">
{% include head.html %}
<body>
{% include header.html %}

<main role="main">
    <div class="jumbotron bg-gradient-primary text-dark">
        <div class="container">
            <h1 class="display-4 page-title">{{ page.title }}</h1>
        </div>
    </div>
    <div class="container">
        {{ content}}
        <div class="alert alert-warning shadow-sm" role="alert">
            <h3>Bestätigte Fälle</h3>
            <p>
                Die bestätigten Infektionen sind vermutlich nur der kleinere Teil aller Fälle.
                Bildlich gesprochen handelt es sich um die Spitze des Eisberges. Doch kann
                man aus der Spitze Rückschlüsse auf seine Größe ziehen.
            </p>
            <p>
                Es unterliegt noch der Forschung, wie groß der durchschnittliche Dunkelzifferfaktor ist.
                Darum sollten Sie stets beachten, dass die Gefahr sich anzustecken deutlich größer
                sein kann, als es die Anzahl der bestätigten Fälle nahe legt.
            </p>
        </div>
        <div class="alert alert-info shadow-sm" role="alert">
            <h3>Covid 19, Sars-CoV-2 oder Coronavirus?</h3>
            <p>
                <strong>Coronaviren</strong> sind eine Virusfamilie, zu der auch das Virus <strong>Sars-CoV-2</strong> gehört.
                <strong>Sars-CoV-2</strong> ist der Erreger der Atemwegserkrankung <strong>Covid 19</strong>.
            </p>
            <dl>
                <dt>Coronaviridae</dt>
                <dd>Die Coronavieren können bei Wirbeltieren sehr unterschiedliche Erkrankungen auslösen.</dd>
                <dt>Sars-Cov-2</dt>
                <dd>Ein Coronavirus. English für „severe acute respiratory syndrome coronavirus 2“, zu deutsch „Schweres akutes Atemwegssyndrom Coronavirus 2“.
                Es löst Covid 19 aus.</dd>
                <dt>Covid 19</dt>
                <dd>English für „coronavirus disease 2019“, zu deutsch  „Coronavirus-Krankheit 2019“</dd>
            </dl>
            <p>Fazit: Der umgangssprachliche Begriff Coronavirus ist sehr unpräzise.</p>
        </div>
        <div class="alert alert-info shadow-sm" role="alert">
            <h3>Quellen der Zahlen</h3>
            <p>Die Zahlen des Kreises Höxter werden täglich auf <a href="https://www.kreis-hoexter.de">seiner Homepage</a>
                veröffentlicht, jedoch nicht archiviert. Bis zum 23. März 2020 wurden nur die Fallzahlen allein für den
                Kreis veröffetnlicht. Seit dem 24. März werden diese auch nach den Gemeinden aufgeschlüsselt.
            </p>
            <p>Die Zahlen für die Länder einschließlich Deutschland werden den Daten entnommen, welche das
                <i>Center for Systems Science and Engineering (CSSE) at Johns Hopkins University</i>
                <a href="https://github.com/CSSEGISandData/COVID-19">hier täglich</a> aktualisiert.
            </p>
        </div>
        <div class="alert alert-info shadow-sm" role="alert">
            <h3>Inkonsistenzen der Zahlen</h3>
            <p>Gelegentlich werden Zahlen von den Behörden nachträglich korrigiert, z.B. weil ein Erkrankter einer
                anderen Gemeinde zugeordnet wird. Dann kommt es zu kleinen Inkonsistenzen in den Zahlen,
                z.B. fällt die Zahl der Neuerkrankungen ins Negative. Ich halte die Zahlen so fest, wie
                sie gemeldet wurden, so dass diese Inkonsistenzen hier abgebildet werden. Zu versuchen die
                Zahlen nachträglich zu korrierigen ist nicht fehlerfrei möglich. Dazu fehlen die vollständigen
                Informationen.
            </p>
        </div>
    </div>
</main>
{% include footer.html %}
</body>
{% include footerscripts.html %}
</html>
