<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">
{% include head.html %}
<body>
{% include header.html %}
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4 page-title">{{ page.title }}</h1>
        </div>
    </div>
    <div class="container">
        {{ content}}
        <div class="alert alert-warning" role="alert">
            <h3>Bestätigte Fälle</h3>
            <p>
                Die bestätigten Infektionen sind vermutlich nur der kleinere Teil aller Fälle.
                Bildlich gesprochen handelt es sich um die Spitze des Eisberges. Doch kann
                man aus der Spitze Rückschlüsse auf seine Größe ziehen.
            </p>
            <p>
                Es unterliegt noch der Forschung, wie groß der durchschnittliche Dunkelzifferfaktor ist.
                Darum sollten Sie stets beachten, dass die Gefahr sich anzustecken deutlich größer
                sein kann, als es die Anzahl der bestätigten Fälle nahe legt.
            </p>
        </div>
        <div class="alert alert-info" role="alert">
            <h3>Covid 19, Sars-CoV-2 oder Coronavirus?</h3>
            <p>
                <strong>Coronaviren</strong> sind eine Virusfamilie zu der auch das Virus <strong>Sars-CoV-2</strong> gehört.
                <strong>Sars-CoV-2</strong> ist der Erreger der Atemwegserkrankung <strong>Covid 19</strong>.
            </p>
            <dl>
                <dt>Coronaviridae</dt>
                <dd>Die Coronavieren sind Virusfamilie, die bei Wirbeltieren sehr unterschiedliche Erkrankungen auslösen kann.</dd>
                <dt>Sars-Cov-2</dt>
                <dd>Ein Coronavirus. English für „severe acute respiratory syndrome coronavirus 2“, zu deutsch „Schweres akutes Atemwegssyndrom Coronavirus 2“.
                Es löst Covid 19 aus.</dd>
                <dt>Covid 19</dt>
                <dd>English für „coronavirus disease 2019“, zu deutsch  „Coronavirus-Krankheit 2019“</dd>
            </dl>
            <p>Fazit: Der umgangssprachliche Begriff Coronavirus ist sehr unpräzise.</p>
        </div>
    </div>
</main>
{% include footer.html %}
</body>
{% include footerscripts.html %}
</html>
